body {
    background-color: #FFF;
}

#input, #output {
    width: 600px;
    margin: 10px auto;
    padding: 10px 10px;
    background-color: #FFF;
}

h2 {
    width: 600px;
    margin: 20px auto;
}

#new_task {
    width: 470px;
    height: 40px;
    padding: 0px 10px;
    font-size: 13pt;
}

#add_button {
    background: #EEE;
    border-top: 3px solid #DDD;
    border-left: 3px solid #DDD;
    border-right: 3px solid #BBB;
    border-bottom: 3px solid #BBB;
    color: #111;
    width: 100px;
    height: 40px;
    font-size: 11pt;
}

.list_button {
    height: 40px;
    margin: 10px 5px;
    font-size: 12pt;
    float: left;
}

.container {
    overflow: hidden;
}

.task_button {
    background: #EEE;
    border-top: 3px dotted #DDD;
    border-left: 3px solid #DDD;
    border-right: 3px solid #DDD;
    border-bottom: 3px dotted #DDD;

    color:#111;
    width: 450px;
    padding: 0px 30px;
}

.done_button {
    background: #EEE;
    border-top: 3px solid #DDD;
    border-left: 3px solid #DDD;
    border-right: 3px solid #BBB;
    border-bottom: 3px solid #BBB;
    color: #111;

    width: 50px;
    text-align: center;
}
/*
.btn {
    background: #EEE;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    color:#111;
    margin: 10px 0;
    padding: 10px 30px;
}
*/
