body {
    background-color: #EEE;
}

#main {
    width: 600px;
    margin: 20px auto;
    padding: 20px 20px;
}

#input, #output {
    width: 600px;
    margin: 10px auto;
    padding: 10px 10px;
    background-color: #EEE;
}

h2 {
    width: 600px;
    margin: 20px auto;
}

#new_task {
    width: 480px;
    height: 40px;
    padding: 0px 10px;
}

#add_button {
    width: 80px;
    height: 40px;
}
